@import "tailwindcss";

:root {
  --font-space-mono: "Space Mono", sans-serif;
  font-family: var(--font-space-mono);
}

main {
  font-size: 16px;
}

@theme {
  --color-blue-500: #4199BF;
  --color-blue-200: #37ABDC;
  --color-light: #f5f5f5;
  --color-black-500: #171717;
  --color-black-400: #242424;
}
