@import "tailwindcss";

:root {
  --font-sora: "Sora", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  font-family: var(--font-sora);
}

@theme {
  --color-dark: #181d26;
  --color-green-600: #0d6666;
  --color-green-500: #149c9c;
  --color-green-400: #6cb8b8;
  --color-light: #f5f5f5;
}

body {
  font-size: 16px;
  color: var(--color-light);
  background-color: var(--color-dark)
}

h1, h2 {
  color: var(--color-green-500)
}

p {
  font-family: var(--font-urbanist)
}
