@import "tailwindcss";

:root {
  --font-space-mono: "Space Mono", sans-serif;
  font-family: var(--font-space-mono);
}

@theme {
  --color-blue-500: #11bcd6;
  --color-blue-300: #11a1b8;
  --color-light: #f5f5f5;
  --color-black-500: #0f0f0f;
  --color-black-400: #141414;
}

body {
  font-size: 16px;
  color: var(--color-light);
}
